# Библиотека Pandas

## Data Frame

In [2]:
import pandas as pd

In [3]:
#создание DataFrame по столбцам с помощью словарей
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [4]:
frame

   numbers chars
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a

In [5]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [6]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [7]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [8]:
frame.shape

(6, 4)

In [9]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [10]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [11]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [12]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [13]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*5 + [True]*2

In [14]:
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False
5     Костров С.О.  31.05.1985     Москва    стажер       True
6            Perov  22.03.1990      Penza       NaN       True

In [15]:
#удаление строк DataFrame
frame.drop([5,6], axis=0)

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False

In [16]:
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False
5     Костров С.О.  31.05.1985     Москва    стажер       True
6            Perov  22.03.1990      Penza       NaN       True

In [17]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [18]:
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False

In [19]:
#удаление столбца DataFrame (inplace)
frame.drop('IsStudent', axis=1, inplace=True)

In [20]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер

In [21]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [22]:
!cat updated_dataset.csv

Name,Birth,City,Position
Иванов А.А.,22.03.1980,Москва,
Сорокин И.В.,07.08.1965,Волгоград,инженер
Белов М.М.,13.02.1980,Ростов,менеджер
Мельникова Д.С.,15.04.1985,Ростов,
Рыбина Е.П.,19.11.1985,Москва,инженер

In [26]:
pip install ipython

Requirement already satisfied: ipython in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (7.19.0)
Requirement already satisfied: pygments in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (2.7.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (0.1.0)
Requirement already satisfied: backcall in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (50.3.1.post20201107)
Requirement already satisfied: traitlets>=4.2 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (3.0.8)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (4.8.0)
Requirement already satisfied: pickleshare in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from ipython) (0.17.1)
Requirement already satisfied: ipython-genutils in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython) (0.2.0)
Requirement already satisfied: wcwidth in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython) (0.6.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython) (0.7.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
pip install nbconvert

Requirement already satisfied: nbconvert in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (6.0.7)
Requirement already satisfied: jupyter-core in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (4.6.3)
Requirement already satisfied: bleach in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (3.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (1.4.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (0.5.1)
Requirement already satisfied: traitlets>=4.2 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (5.0.5)
Requirement already satisfied: jupyterlab-pygments in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: testpath in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (0.4.4)
Requirement already satisfied: jinja2>=2.4 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (2.11.2)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (0.3)
Requirement already satisfied: pygments>=2.4.1 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (2.7.2)
Requirement already satisfied: defusedxml in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (0.6.0)
Requirement already satisfied: nbformat>=4.4 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert) (5.0.8)
Requirement already satisfied: six>=1.9.0 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert) (1.15.0)
Requirement already satisfied: packaging in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert) (20.4)
Requirement already satisfied: webencodings in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: jupyter-client>=6.1.5 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (6.1.7)
Requirement already satisfied: async-generator in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.10)
Requirement already satisfied: nest-asyncio in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.4.2)
Requirement already satisfied: ipython-genutils in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->nbconvert) (0.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from packaging->bleach->nbconvert) (2.4.7)
Requirement already satisfied: tornado>=4.1 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.0.4)
Requirement already satisfied: pyzmq>=13 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (19.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.17.3)
Requirement already satisfied: setuptools in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (50.3.1.post20201107)
Requirement already satisfied: attrs>=17.4.0 in /Users/jimmy/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (20.3.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
$ ipython nbconvert pandas.ipynb

SyntaxError: invalid syntax (<ipython-input-33-791ab4a82658>, line 1)